body {
  margin: 0;
  font-family: 'Merriweather', serif;
  text-align: center;
}

h1 {
  color: #ff5722;
  font-family: 'Sacramento', cursive;
  font-size: 5em;
  margin: 50px auto 0 auto;
  font-weight: normal;
}

h2 {
  color: #ff5722;
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
}

h3 {
  color: #ff5722;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
}

p {
  color: #ff5722;
}

.portrait {
  height: 400px;
  width: 300px;
  margin-top: 15px;
}

.carpentry {
  height: 400px;
  width: 400px;
}

.paint {
  height: 400px;
  width: 500px;
  margin-top: 15px;
}

.top-container {
  background-color: #00bcd4;
  margin: 0;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #b2ebf2;
}

.bottom-container {
  background-color: #b2ebf2;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
